* {
    scrollbar-width: auto;
    scrollbar-color: #c0c0c0 #808080;
}

/*================================TARJETAS COMO RESULTADO DE BUSQUEDA*/
.clickable {
    transition: transform 0.5s;
}

.clickable:hover {
    background-color: var(--fondo2);
    box-shadow: 0px 0px 10px 0px var(--fondo3);
    cursor: pointer;
    border: 2px solid var(--color);
}

.tarjeta {
    padding: 0.5em 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: var(--fondo3);
    color: var(--blanco2);
    border-radius: 10px;
    font-size: 0.8em;
    position: relative;
    border: 2px solid transparent;
}

.tarjeta .skeleton-text{
    background-color: var(--blanco2);
    padding: 0.5em;
    border-radius: 5px;
    min-width: 5em;
}
.tarjeta .skeleton-text:nth-child(2){
    min-width: 10em;
}

.--tarjeta-left {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
    align-items: flex-start;
}

.--tarjeta-right {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    align-items: flex-end;
    position: relative;
}

.--tarjeta-right .--tarjeta-datos {
    align-items: flex-end;
}

.--tarjeta-right .flex-row-start {
    flex-flow: row-reverse nowrap;
}

.--tarjeta-datos {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5em;
}

.--tarjeta-info-bpm-scale {
    background-color: var(--color);
    border-radius: 8px;
    padding: 0.25em 0.5em;
    color: var(--fondo);
    min-width: 7em;
    font-size: 1.25em;
    position: relative;
}

.--tarjeta-info-bpm-scale p {
    font-weight: 500;
    color: var(--fondo);
}

.--tarjeta-img-fuego {
    position: absolute;
    top: 25%;
    right: -2.5em;
    transform: translate(0, -50%);
    filter: drop-shadow(5px 5px 15px #000000);
    -webkit-filter: drop-shadow(5px 5px 15px #000000);
    -moz-filter: drop-shadow(5px 5px 15px #000000);
}

/*FIN TARJETAS COMO RESULTADO DE BUSQUEDA*/

/*================================TARJETAS PREVIEW CHOICE*/
.preview-choices-div {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-around;
    margin: 1em auto;
    gap: 0.25em;
}

.preview-choices-div .tarjeta {
    width: 50%;
    background-color: var(--negro2);
}

.tarjeta-preview-scale {
    font-size: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color);
}

.tarjetas-container-header {
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    justify-content: space-between;
    min-height: 4em;
}

/*FIN TARJETAS PREVIEW CHOICE*/

.container-tarjetas {
    background-color: var(--negro2);
    padding: 1em;
    border-radius: 14px;
}

/*================================TARJETAS DOBLE*/
.--tarjetaDoble .--tarjeta-left2 button {
    margin-right: auto;
}

.--tarjetaDoble .--tarjeta-right button {
    margin-left: auto;
}

.--tarjetaDoble-canciones {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}

.--tarjetaDoble-reproductores {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}

.--tarjetaDoble {
    margin-right: 2em;
    position: relative;
    border-radius: 10px;
    border: 2px solid var(--gris);
    box-shadow: 0px 0px 10px var(--gris);
    overflow: hidden;
    width: 30em;
}

.--tarjetaDoble .--tarjeta-left2 .--tarjeta-datos {
    margin: auto;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 15px;
}

.--tarjetaDoble .--tarjeta-right .--tarjeta-datos {
    margin: auto;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 15px;

}

.--tarjetaDoble .--tarjeta-left2 .--tarjeta-datos,
.--tarjetaDoble .--tarjeta-right .--tarjeta-datos {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1em;
    z-index: 2;
    margin-top: 0;
}

/*FIN TARJETAS DOBLE*/



/*================================ Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 0.7em;
}

*::-webkit-scrollbar-track {
    background: var(--fondo3);

}

*::-webkit-scrollbar-thumb {
    background-color: var(--color);
    border-radius: 42px;
    border: 3px none #400040;
    height: 10px;
    box-shadow: 0px 0px 20px 3px black;
}

.resultado-left .tarjeta,
.resultado-right .tarjeta {
    margin: 0.5em 0.25em;
    height: max-content;
    padding: 0.5em;
    box-shadow: none;
}

.resultado-left .tarjeta .--tarjeta-img-ppal,
.resultado-right .tarjeta .--tarjeta-img-ppal {
    height: 5em !important;
    width: 5em !important;
}

.resultado-left .tarjeta .--tarjeta-info-bpm-scale,
.resultado-right .tarjeta .--tarjeta-info-bpm-scale {
    width: max-content;
    margin: auto 0.5em;
}

.resultado-left .tarjeta a,
.resultado-right .tarjeta a {
    display: none;
}


.resultado-left .tarjeta .--tarjeta-datos,
.resultado-right .tarjeta .--tarjeta-datos {
    font-size: 0.9em;
}






/*================================ datos del 2 */


.--tarjeta-datos .--tarjeta-right,
.--tarjeta-datos .--tarjeta-left2 {
    position: relative;
    z-index: 5;
}

/*================================ datos del 2 */
.--tarjetaDoble .--tarjeta-right .--tarjeta-datos p {
    flex-flow: row-reverse;
    align-self: flex-end;
    width: max-content;
}

.--tarjetaDoble .--tarjeta-left2 .--tarjeta-datos p {
    flex-flow: row;
    align-self: flex-start;
    width: max-content;
}

.--bpm-scale-doble {
    font-size: 1.25em;
    width: 7em;
    position: absolute;
    left: calc(50% - 3.5em);
    background-color: var(--color);
    color: var(--fondo);
    padding: 0.5em;
    display: flex;
    flex-flow: column;
    top: 0.5em;
    align-items: center;
    border-radius: 11px;
    font-weight: 500;
    z-index: 4;
    box-shadow: 0px 0px 30px 15px var(--negro);
}





.tarjetaElegida {
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: var(--fondo3);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px black;
    font-size: 0.8em;
    border: 1px solid var(--color);
    width: 100%;
}

.botonCambiarPreview {
    padding: 0.5em;
    font-size: 1em;
    white-space: pre;
    position: absolute;
    bottom: -2.5em;
    left: 0;
    background: transparent;
}

.tarjeta p,
.tarjetaElegida p {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.25em;
    align-items: center;
}

.--tarjeta-center {
    position: absolute;
    left: 50%;
}



.--tarjeta-left2 {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    align-items: flex-start;
    position: relative;
}


.--tarjeta-img-info {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
}

.--tarjeta-play-preview-button {
    border: none;
    width: 35px;
    height: 35px;
    background-color: transparent;
    color: var(--fondo);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    z-index: 5;
    padding: 0.5em;
    align-items: center;
    font-size: 2em;
    box-shadow: 0px 0px 5px 1px var(--blanco3);
}



.hidden-audio {
    display: none;
}


.--tarjeta-img-ppal {
    border-radius: 10%;
    aspect-ratio: 1;
    margin: auto;
}


.enlaceLeftTarjeta {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
}




.displayEleccion1,
.displayEleccion2 {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;
}

.icono_tarjeta {
    width: 1.5em;
    background-color: var(--negro2);
    padding: 0.2em;
}

/*FIN TARJETAS */


/* SLIDER */
.horizontal-slider-container {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-flow: row nowrap;
}

.slider-item {
    scroll-snap-align: start;
}

.coincidencias-nota-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 4em;
}
.conjunto-coincidencias-nota .resultado-left,
.conjunto-coincidencias-nota .resultado-right{
    max-height: 10em;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 50%;
}

.conjunto-coincidencias-nota {
    width: 100%;
}
.slider-item-center{
    scroll-snap-align: center;
    margin: auto 1em;
}
.conjunto-tarjetas{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.tarjeta-artista-grande{
    position: relative;
    width: 25em;
    height: 25em;
    background-color: var(--fondo3);
    margin: 2em auto;
    padding: 1.25em 0.75em;
    display: flex;
    gap: 1em;
    border-radius: 15px;
    box-shadow: 0px 0px 34px 7px var(--fondo);
    flex-direction: column;
    align-items: center;
}
.boton-circulo-next{
    border-radius: 20px;
    padding: 0.5em 1em;
    background-color: var(--gris);
}

.tarjeta-artista-grande img{
    width: 15em;
}

.tarjeta-artista-grande .--tarjeta-info-bpm-scale{
    margin: auto;
    text-align: center;
}
.tarjeta-artista-grande .--tarjeta-info-bpm-scale p{
    font-weight: 800;
}