.progress-bar{
    width: 100%;
    margin: 3em auto 1em auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: width 1s ease-in-out;
}

.progress-bar-bola{
    padding: 1em;
    border-radius: 50%;
    background-color: var(--fondo3);
    position: relative;
    box-shadow: 0px 0px 20px 1px var(--fondo);
    border: 3px solid var(--blanco3);
    z-index: 1;
}
.progress-bar-titulo-step{
    top: -100%;
    position: absolute;
    white-space: nowrap;
}

.progress-bar-bola:nth-child(1){
    margin-left: -2px;
}
.progress-bar-bola:nth-child(3){
    margin-right: -2px;
}
.progress-bar-bola:nth-child(1) .progress-bar-titulo-step{
    left: 0%;
}
.progress-bar-bola:nth-child(2) .progress-bar-titulo-step{
    left: 50%;
    transform: translate(-50%, 0);
}
.progress-bar-bola:nth-child(3) .progress-bar-titulo-step{
    right: 0%;
}

.progress-bar-barra{
    background-color: var(--fondo4);
    width: inherit;
    height: 1em;
    z-index: -1;
    position: absolute;
    right: 0;
}
.progress-bar-bola-completa{
    background-color: var(--color)!important;
    border: 0.33em solid var(--fondo4) !important;
}

.progress-bar-progress{
    background-color: var(--color);
    position: absolute;
    padding: 0.5em 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: width 1s ease-in-out;
}
.progress-msg-condicion{
    position: absolute;
    width: max-content;
    top: 2em;
    left: 3em;
    font-size: 1em;
}
